.tracks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
    list-style: none;
    justify-content: center;
    padding-bottom: 64px;
}

.track-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 150%;
    font-weight: bold;
    flex: 1 1 200px; /* карточка будет тянуться, но не станет меньше 200px */
    max-width: 300px;
    padding: 10x;
    box-sizing: border-box;
}

.content-info {
    padding: 0 20px;
}

.content-aligned {
    margin-left: 64px;
    padding: 0;
}

@media (max-width: 600px) {
    header {
        flex-direction: column; /* на телефоне лого будет над меню */
        text-align: center;
    }
    
    .track-card {
        width: 90%; /* карточки станут крупнее и по одной в ряд */
    }
}
